.ASO{
    background-color: aqua;
}
.BBDD{
    background-color: bisque;
}
.HLLD{
    background-color: aquamarine;
}
.ISO{
    background-color: cornflowerblue;
}
.SX{
    background-color: burlywood;
}
.FM{
    background-color: darkseagreen;
}
.TUT{
    background-color: indianred;
}
.MAR{
    background-color: darkorange;
}